.gameItem {
  width: 260px;
  /* height: 400px; */
  padding: 10px;
  background-color: #3d4d62;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.017), 0 6.7px 5.3px rgba(0, 0, 0, 0.022), 0 12.5px 10px rgba(0, 0, 0, 0.027);
}

.gameItem:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.315);
}

.gameName {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-height: 33px;
  overflow: hidden;
}

.gamePhoto {
  width: 250px;
  height: 250px;
  margin-top: -5px;
  object-fit: cover;
  /* overflow: auto; */
  border-radius: 10px;
}

.gameDesc {
  font-size: 10px;
  /* position: relative; */
}

.summary {
  padding: 0px 10px 10px 10px;
  color: rgba(255, 255, 255, 0.568);
}

.gameInfoBox {
  font-size: 9px;
  /* width: 190px; */
  /* text-align: center; */
  /* left: 2px; */
  /* top: 115px; */
  display: flex;
  /* align-items: center; */
  /* position: absolute; */
}
.gameInfoBox div {
  border-radius: 3px;
  /* padding: 3px; */
  background-color: #b9334e;
  padding: 5px 8px;
  margin-left: 8px;
}
